---
import type { CollectionEntry } from "astro:content";

type Props = CollectionEntry<"projects">;

const { id, data } = Astro.props;
const { title, description, techStack, githubUrl } = data;
const href = `/projects/${id}/`;
---

<li class="my-6">
  <div class="flex flex-col gap-2">
    <div class="flex items-center gap-3">
      <h2
        class="inline-block text-lg font-medium text-accent"
      >
        <a
          href={href}
          class="decoration-dashed underline-offset-4 hover:underline focus-visible:no-underline focus-visible:underline-offset-0"
        >
          {title}
        </a>
      </h2>
      {
        githubUrl && (
          <a
            href={githubUrl}
            target="_blank"
            rel="noopener noreferrer"
            class="text-sm text-foreground/70 decoration-dashed underline-offset-4 hover:text-accent hover:underline"
          >
            GitHub
          </a>
        )
      }
    </div>
    <p>{description}</p>
    {
      techStack.length > 0 && (
        <ul class="flex flex-wrap gap-2">
          {techStack.map(tech => (
            <li class="rounded-md bg-foreground/10 px-2 py-0.5 text-xs font-medium text-foreground/80">
              {tech}
            </li>
          ))}
        </ul>
      )
    }
  </div>
</li>
